<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Arvada Stormwater Master Plan</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
  {% block extra_head %}    {% endblock %}
</head>
<body>
  <div class="topnav" id="myTopnav">
    <!-- <a href="#home" class="active">Home</a>-->
    <a href="/" >Arvada SWMP</a>
    {% if user.is_authenticated %}
      <a href="/map/">Map</a>
    {% endif %}
    <!--
    <a href="#contact">Contact</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown
        <ii class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>-->
    <div class="profile" id="profile">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="dropbtn"> {{ user.get_username }}
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'logout'%}?next=/">Logout</a>   
        </div>
      </div>
      {% else %}
        <a href="{% url 'login'%}?next=/map/">Login</a>   
      {% endif %} 
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleResponsive()">&#9776;</a>
  </div>
  <div class="content" id="content">
    {% block content %}     {% endblock %}
  </div>
  
  <script>
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
    function toggleResponsive() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
      // Update profile position
      var profile = document.getElementById("profile");
      if (x.className === "topnav responsive") {
        profile.style.cssFloat = "none";
      } else {
        profile.style.cssFloat = "right";
      }
    }
  </script>
</body>
</html>
